USE [master]
GO
/****** Object:  Database [imagedb]    Script Date: 13/05/2025 03:09:42 ******/
CREATE DATABASE [imagedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'imagedb', FILENAME = N'/var/opt/mssql/data/imagedb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'imagedb_log', FILENAME = N'/var/opt/mssql/data/imagedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [imagedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [imagedb]
GO
/****** Object:  Table [dbo].[Imagen]    Script Date: 13/05/2025 03:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagen](
	[id] [nvarchar](1000) NOT NULL,
	[url] [nvarchar](1000) NOT NULL,
	[productId] [nvarchar](1000) NOT NULL,
 CONSTRAINT [Imagen_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 13/05/2025 03:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [nvarchar](1000) NOT NULL,
	[nombre] [nvarchar](1000) NOT NULL,
	[categoria] [nvarchar](1000) NOT NULL,
	[userId] [nvarchar](1000) NOT NULL,
 CONSTRAINT [Producto_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 13/05/2025 03:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [nvarchar](1000) NOT NULL,
	[email] [nvarchar](1000) NOT NULL,
	[password] [nvarchar](1000) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Usuario_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Producto] ([id], [nombre], [categoria], [userId]) VALUES (N'20206f2a-a7f1-4448-bc33-1a7e6e12cc1f', N'Producto', N'Categoría', N'6ba8670f-82e9-4315-9432-a784a0156ef5')
GO
INSERT [dbo].[Usuario] ([id], [email], [password], [createdAt]) VALUES (N'6ba8670f-82e9-4315-9432-a784a0156ef5', N'prueba@gmail.com', N'$2b$10$QScu4VP5ijItNxQ1McL3ZO1wVNKNLkZHPF7UGPlWiVrSOaOxmJKFG', CAST(N'2025-05-13T01:08:39.7210000' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Usuario_email_key]    Script Date: 13/05/2025 03:09:42 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [Usuario_email_key] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [Usuario_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Imagen]  WITH CHECK ADD  CONSTRAINT [Imagen_productId_fkey] FOREIGN KEY([productId])
REFERENCES [dbo].[Producto] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Imagen] CHECK CONSTRAINT [Imagen_productId_fkey]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [Producto_userId_fkey] FOREIGN KEY([userId])
REFERENCES [dbo].[Usuario] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [Producto_userId_fkey]
GO
USE [master]
GO
